# Dependencies
/vendor/
/node_modules/
/.github/ 

# Source maps (not needed in releases)
/js/*.js.map
/css/*.css.map

# IDE
/.idea/
/.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbbs.db

# Nextcloud build artefacts
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
